@font-face {
  font-family: 'Unifont';
  src: url('./unifont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, input, button, #terminal, .status, .title {
  font-family: 'Unifont', monospace !important;
  font-size: 16px;
  -webkit-font-smoothing: none;
  font-smooth: never;
}
